Support date-time formats for HTTP 1.1

RFC 2616 specifies the following date/time representations:
- Sun, 06 Nov 1994 08:49:37 GMT  ; RFC 822, updated by RFC 1123
- Sunday, 06-Nov-94 08:49:37 GMT ; RFC 850, obsoleted by RFC 1036
- Sun Nov  6 08:49:37 1994       ; ANSI C's asctime() format

Implement these using DCGs with a parse tree argument.
